<header>
  <mat-toolbar color="primary" >
    <h1>File Converter <small>(Excel to Json)</small></h1>
  </mat-toolbar>
</header>
<main>
  <app-browse-file-button ></app-browse-file-button>
  <footer >
    <mat-toolbar color="primary" class="footer">
      <p>
        <a href="https://merakideveloper.com/" target="_blank" rel="nofollow">Meraki Developer</a>
        | De Tijuana con <img draggable="false" role="img" class="emoji" alt="💖" src="https://s.w.org/images/core/emoji/13.0.1/svg/1f496.svg">
        para el <img draggable="false" role="img" class="emoji" alt="🌎" src="https://s.w.org/images/core/emoji/13.0.1/svg/1f30e.svg">.
      </p>
    </mat-toolbar>
  </footer>
</main>
