<header>
  <mat-toolbar color="primary" >
    <h1>File Converter</h1>
  </mat-toolbar>
</header>
<main>
  <div class="flex-container">
    <app-browse-file-button ></app-browse-file-button>

    <div class="notes">
      <h2>Notes</h2>
      <h4>Make sure your excel file has the header correspondent to the variables names</h4>
      <table class="table">
        <tr class="header">
          <td>name</td>
          <td>surname</td>
          <td>otherheader</td>
        </tr>
        <tr>
          <td>Hector</td>
          <td>Romero</td>
          <td>Dev</td>
        </tr>
      </table>
    </div>

  </div>
  <footer >
    <mat-toolbar color="primary" class="footer">
      <p>
        <a href="https://merakideveloper.com/" target="_blank" rel="nofollow">Meraki Developer</a>
        | De Tijuana con <img draggable="false" role="img" class="emoji" alt="💖" src="https://s.w.org/images/core/emoji/13.0.1/svg/1f496.svg">
        para el <img draggable="false" role="img" class="emoji" alt="🌎" src="https://s.w.org/images/core/emoji/13.0.1/svg/1f30e.svg">.
      </p>
    </mat-toolbar>
  </footer>
</main>
