/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#app{
  height: 100vh;

  // grid container settings
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';

  header {
    grid-area: header;
  }

  main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0, 600px) 1fr;

    overflow: auto;
    padding: 15px 5px 10px 5px; // top, right, bottom, left
  }
  section {
    grid-area: 1 / 2 / 1 / 3;
  }
  section.full{
    grid-area: 1 / 1 / 1 / 4;
  }

  footer{
    grid-area: 2 / 1 / 3 / 4;
  }
}
